<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <full_page_cache>
                <gocache>
                    <token></token>
                    <main_domain></main_domain>
                    <smart_ttl>86400</smart_ttl>
                    <cache_ttl>86400</cache_ttl>
                    <expires_ttl>604800</expires_ttl>
                    <smartcache>1</smartcache>
                    <enable_log>1</enable_log>
                </gocache>
            </full_page_cache>
        </system>
    </default>
</config>
